body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 5rem;
    font-weight: 900;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

#top-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#middle-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#top-left {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    height: 100px;
    width: 100px;
}

#top-middle {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    height: 100px;
    width: 100px;
}

#top-right {
    border-bottom: 5px solid black;
    height: 100px;
    width: 100px;
}

#middle-left {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    height: 100px;
    width: 100px;
}

#middle-middle {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    height: 100px;
    width: 100px;
}

#middle-right {
    border-bottom: 5px solid black;
    height: 100px;
    width: 100px;
}

#bottom-left {
    border-right: 5px solid black;
    height: 100px;
    width: 100px;
}

#bottom-middle {
    border-right: 5px solid black;
    height: 100px;
    width: 100px;
}

#bottom-right {
    height: 100px;
    width: 100px;
}

.player-X {
    background-color: white;
}

.player-O {
    background-color: white;
}

.winner {
    font-size: 3rem;
    font-weight: 900;
    text-decoration: underline;
    text-align: center;
}

.clear-scores {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    font-weight: 900;
    margin: 176px 20px 20px 20px;
}

.clear-gameboard {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    font-weight: 900;
    margin: 176px 20px 20px 20px;
}

#scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#x-score-text {
    margin: 20px;
    font-size: 1.5rem;
}

#o-score-text {
    margin: 20px;
    font-size: 1.5rem;
}