html {
    background-image: url(./background.png);
    background-size: cover;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 50px 0px 0px 0px;
    font-size: 5rem;
    font-weight: 900;
    background-color: rgba(0, 32, 19, 0.681);
}

h1 {
    text-align: center;
    font-size: 4rem;
    text-transform: capitalize;
    margin-bottom: 0px;
    color: black;
}

.player-turn-display {
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

#top-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#middle-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#top-left {
    border-right: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    height: 100px;
    width: 100px;
}

#top-middle {
    border-right: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    height: 100px;
    width: 100px;
}

#top-right {
    border-bottom: 5px solid rgb(255, 255, 255);
    height: 100px;
    width: 100px;
}

#middle-left {
    border-right: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    height: 100px;
    width: 100px;
}

#middle-middle {
    border-right: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    height: 100px;
    width: 100px;
}

#middle-right {
    border-bottom: 5px solid rgb(255, 255, 255);
    height: 100px;
    width: 100px;
}

#bottom-left {
    border-right: 5px solid rgb(255, 255, 255);
    height: 100px;
    width: 100px;
}

#bottom-middle {
    border-right: 5px solid rgb(255, 255, 255);
    height: 100px;
    width: 100px;
}

#bottom-right {
    height: 100px;
    width: 100px;
}

.player-X {
    background-color: rgba(0, 56, 34, 0.1);
}

.player-O {
    background-color: rgba(0, 56, 34, 0.1);
}

.winner {
    font-size: 3rem;
    font-weight: 900;
    text-decoration: underline;
    text-align: center;
    margin: 0;
    padding: 48px 0px 48px 0px;
    height: 55px;
    background-color: rgba(0, 32, 19, 0.681);
}

.clear-scores {
    height: 100px;
    width: 100px;
    background-color: rgba(127, 255, 212, 0.95);
    font-weight: 900;
    margin: 200px 20px 20px 20px;
}

.clear-gameboard {
    height: 100px;
    width: 100px;
    background-color: rgba(127, 255, 212, 0.95);
    font-weight: 900;
    margin: 200px 20px 20px 20px;
}

#scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 32, 19, 0.681);
}

#x-score-text {
    margin: 20px;
    font-size: 1.5rem;
}

#o-score-text {
    margin: 20px;
    font-size: 1.5rem;
}